  <%= form_for([@list, @todo_item]) do |f| %>
  <% if @todo_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@todo_item.errors.count, "error") %> prohibited this todo_item from being saved:</h2>

      <ul>
      <% @todo_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
 
<div>
<%= f.label "State" %><br>
<%= f.select :state, [["Backlog",0], ["Ready", 1], ["In Progress", 2], ["Completed", 3]] %>
</div>

  <%= f.hidden_field :list_id, value: @list.id %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
