
<h1> To Do List</h1>

<table class="gridtable">
  <thead>
    <tr>
      <th>Status</th>

      <th>Description</th>
      <th colspan="2"> Actions </th>
      
      <th>Due Date</th>
      <th> Updated At </th>
    </tr>
  </thead>

  <tbody>
    <% @list.todo_items.each do |todo_item| %>
      <tr>
       
         <td><%= todo_item.status %></td> 
        
        <td><%= todo_item.description %></td>
        <td><%= link_to 'Edit', edit_list_todo_item_path(@list, todo_item), class: "fa fa-pencil" %></td>
      
        <td><%= link_to 'Delete', list_todo_item_path(@list, todo_item), method: :delete, data: { confirm: 'Are you sure?' }, class: "fa fa-trash" %>
        </td>

        <td><%= todo_item.date %></td>
        <td> <% from_time = todo_item.updated_at %> 
            <%= time_ago_in_words(from_time) %> ago
        </td>
      

      </tr>
    
    <% end %>
  </tbody>

</table>

<br>
<div id="new">
<%= link_to 'New Todo item', new_list_todo_item_path(@list) %>
</div>

<div class="back_button"><%= link_to 'Back', lists_path %></div>
