
<h1> To Do List</h1>

<table class="gridtable">
  <thead>
    <tr>
      <th>Completed</th>

      <th>Description</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @list.todo_items.each do |todo_item| %>
      <tr>
        <% check_icon = todo_item.completed ? "fa fa-check-circle-o" : "fa fa-circle-o" %>
          <td><%= link_to '', todo_item_path(@list, todo_item, {todo_item:{completed: !todo_item.completed}}), method: :put, class: check_icon %></td>
        
        <td><%= todo_item.description %></td>
        <td><%= link_to 'Edit', edit_list_todo_item_path(@list, todo_item), class: "fa fa-pencil" %></td>
      
        <td><%= link_to 'Delete', todo_item_path(@list, todo_item), method: :delete, data: { confirm: 'Are you sure?' }, class: "fa fa-trash" %>
        </td>
      

      </tr>
    
    <% end %>
  </tbody>

</table>

<br>
<div id="new">
<%= link_to 'New Todo item', new_list_todo_item_path(@list) %>
</div>